* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    background: #e5e5e5;
    // margin-right: 28px;
    aside {
        height: 100%;
        background: #ffffff;
        width: 260px;
        padding: 25px 15px 0 15px;
        a {
            text-decoration: none;
        }
        .logo_titleAndSettingsIcon {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 29px;
                letter-spacing: -0.4285714328289032px;
                text-align: left;
                color: #7367f0;
                margin-left: 11.41px;
            }
            .settingsIcon {
                margin-right: 10px;
            }
        }
        .in-flex {
            display: flex;
            align-items: center;
            .homeIcon {
                margin-right: 10px;
            }
            .dashboard {
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                color: #5e5873;
            }
            .analytics {
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                color: #ffffff;
            }
            .eCommerece {
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                color: #5e5873;
            }
            .circle {
                margin-right: 15px;
            }
        }
        .pageThings {
            margin: 37px 0 37px 0;

            .dashboardAndPages {
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .dashboardPages {
                    display: flex;
                    align-items: center;
                }
                .pageNumber {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 18px;
                    letter-spacing: 0px;
                    text-align: center;
                    padding: 1px 7px;
                    border-radius: 50%;
                    background: #7367f0;
                    color: #ffffff;
                    margin-right: 4.21px;
                }
                .downArrow {
                    margin-bottom: 5px;
                }
            }
            .dashboardAndPages {
                padding: 10px 11.9px 8px 15px;
                background: #f8f8f8;
                margin-bottom: 7px;
            }
            .circleAnalytics {
                border-radius: 5px;
                padding: 10px 0px 8px 15px;
                background: #7367f0;
                margin-bottom: 7px;
            }
            .cicrleAndEcommerence {
                border-radius: 5px;
                padding: 10px 0px 8px 15px;
            }
        }
        .apps {
            margin-left: 14px;
            padding-bottom: 19px;
            ul {
                list-style-type: none;
            }
            li {
                margin-bottom: 18px;
            }
            a {
                text-decoration: none;
            }
            .listHeader {
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
                letter-spacing: 0px;
                text-align: left;
                color: #b9b9c3;
            }
            .text-style {
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                color: #5e5873;
                margin-left: 10px;
            }
            .flex-spaceBetween {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .arrowButton {
                margin-right: 27px;
            }
        }
        .userInteface-elments {
            margin-left: 14px;
            padding-bottom: 19px;
            ul {
                list-style-type: none;
            }
            li {
                margin-bottom: 18px;
            }
            a {
                text-decoration: none;
            }
            .listHeader {
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
                letter-spacing: 0px;
                text-align: left;
                color: #b9b9c3;
            }
            .text-style {
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                color: #5e5873;
                margin-left: 10px;
            }
            .flex-spaceBetween {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .arrowButton {
                margin-right: 20px;
            }
            .addingNew {
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
                letter-spacing: 0px;
                text-align: center;
                margin-right: 46px;
                padding: 1px 9px;
                color: #ffffff;
                background: #ff9f43;
                border-radius: 50px;
            }
        }
        .formsAndTables {
            margin-left: 14px;
            ul {
                list-style-type: none;
            }
            li {
                margin-bottom: 18px;
            }
            a {
                text-decoration: none;
            }
            .listHeader {
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
                letter-spacing: 0px;
                text-align: left;
                color: #b9b9c3;
            }
            .text-style {
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                color: #5e5873;
                margin-left: 10px;
            }
            .flex-spaceBetween {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .arrowButton {
                margin-right: 20px;
            }
        }
    }
    .mainContainer {
        width: 100%;
        padding: 21px 28px 0 28px;
        display: flex;
        flex-direction: column;
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 11px 11px 20px;
            margin-bottom: 22px;
            background: #ffffff;
            ul {
                list-style-type: none;
                li {
                    margin-right: 14px;
                }
            }
            a {
                text-decoration: none;
            }
            .in-flex {
                display: flex;
                align-items: center;
            }
            .countryLogo {
                margin-right: 8px;
            }
            .lang {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0px;
                text-align: right;
                color: #6e6b7b;
            }
            .orders {
                position: relative;
                bottom: 6px;
            }
            .alarm {
                position: relative;
                bottom: 4px;
            }
            .accountHolderName {
                margin-right: 13.77px;
                .name {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0px;
                    text-align: right;
                    color: #6e6b7b;
                }
                .admin {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0px;
                    text-align: right;
                    color: #b9b9c3;
                }
            }
        }
        .minContainers1 {
            display: flex;
            .left-part {
                .wishesAndBadge {
                    display: flex;
                    background: #ffffff;
                    border-radius: 6px;
                    .wishesAndMoney {
                        padding: 13px 11px 22px 21px;
                        .whishes {
                            width: 189px;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #5e5873;
                            margin-bottom: 7px;
                        }
                        .medal-type {
                            width: 156px;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 18px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #6e6b7b;
                            margin-bottom: 26px;
                        }
                        .dollers {
                            font-size: 21px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 26px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #7367f0;
                            margin-bottom: 11px;
                        }
                        .sales {
                            width: 61px;
                            padding: 8px 16px 9px 20px;
                            background: #7367f0;
                            border-radius: 6px;
                            color: #ffffff;
                            font-size: 11px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 13px;
                            letter-spacing: 0.36666667461395264px;
                        }
                    }
                    .badge {
                        padding: 0px 40px 0px 20px;
                    }
                }
            }
            .right-part {
                width: 100%;
                background: #ffffff;
                margin-left: 28px;
                border-radius: 6px;
                padding: 22px 29px 0px 30px;
                .flex-spaceBetween {
                    display: flex;
                    justify-content: space-between;
                }
                .in-flex {
                    display: flex;
                    align-items: center;
                }
                .satatisticsAndUpdatedTime {
                    margin-bottom: 46px;
                    .statisticsText {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 22px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #5e5873;
                    }
                    .updatedTime {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: 0px;
                        text-align: right;
                        color: #6e6b7b;
                    }
                }
                .statistics {
                    .graph {
                        padding: 12px 12px 10px 12px;
                        background: #d8d6ec;
                        border-radius: 50%;
                    }
                    .userIcon {
                        padding: 12px 12px 10px 12px;
                        background: #defafd;
                        border-radius: 50%;
                    }
                    .cubeicon {
                        padding: 12px 12px 10px 12px;
                        background: #fcd6d6;
                        border-radius: 50%;
                    }
                    .doller {
                        padding: 12px 12px 10px 12px;
                        background: #e1faec;
                        border-radius: 50%;
                    }
                }
                .numberAndText {
                    margin-left: 15px;
                    .number {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 22px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #5e5873;
                    }
                    .text {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #6e6b7b;
                    }
                }
            }
        }
        .miniContainer2 {
            display: flex;
            margin-top: 28px;
            .left-part {
                .top-part {
                    display: flex;
                    .orderAndGraph {
                        border-radius: 6px;
                        padding: 16px 18px 18px 19px;
                        background: #ffffff;
                        .text {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 22px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #5e5873;
                            margin-bottom: 8px;
                        }
                        .number {
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 29px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #5e5b73;
                        }
                        .chart {
                            margin-top: 26px;
                        }
                    }
                    .profit {
                        border-radius: 6px;
                        padding: 16px 18px 18px 19px;
                        margin-left: 27px;
                        background: #ffffff;
                        .text {
                            margin-bottom: 8px;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 23px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #5e5873;
                        }
                        .number {
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 29px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #5e5873;
                        }
                        .chart {
                            margin-top: 21px;
                        }
                    }
                }
                .bottom-part {
                    border-radius: 6px;
                    margin-top: 28px;
                    width: 319px;
                    padding: 17px 18px 14px 21px;
                    background: #ffffff;
                    .flex-spaceBetween {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .earningAmountAndSalesPercentage {
                        .earning {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 22px;
                            letter-spacing: 0px;
                            text-align: left;
                            margin-bottom: 14px;
                        }
                        .monthEarning {
                            margin-bottom: 16px;
                            .monthText {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 18px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #6e6b7b;
                            }
                            .monthAmount {
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #5e5b73;
                            }
                        }
                        .lastMonthPrecentage {
                            width: 171px;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 18px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #b9b9c3;
                        }
                    }
                }
            }
            .right-part {
                display: flex;
                flex-direction: row;
                border-radius: 6px;
                margin-left: 29px;
                width: 100%;
                background: #ffffff;
                .in-flex {
                    display: flex;
                    align-items: center;
                }
                .flex-spaceBetween {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .revenue-report {
                    padding: 29px 0 0 18px;
                    .headerofBox {
                        .revenueText {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 22px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #5e5873;
                        }
                        .identifyingSymbolAndEarningText {
                            .text {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #6e6b7b;
                                margin-left: 8px;
                            }
                        }
                        .identifyingSymbolAndExpenseText {
                            margin-left: 19px;
                            margin-right: 20px;
                            .text {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #6e6b7b;
                                margin-left: 8px;
                            }
                        }
                    }
                    .revenueChart {
                        .values {
                            ul {
                                margin-top: 35px;
                                margin-right: 34px;
                                list-style-type: none;
                                li {
                                    margin-bottom: 22px;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 18px;
                                    letter-spacing: 0px;
                                    text-align: center;
                                    color: #b9b9c3;
                                }
                            }
                        }
                        .comparingMonth {
                            ul {
                                margin-left: 55px;
                                display: flex;
                                li {
                                    list-style-type: none;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 18px;
                                    letter-spacing: 0px;
                                    text-align: center;
                                    color: #b9b9c3;
                                    margin-right: 23.5px;
                                }
                            }
                        }
                    }
                }
                .virtical-line {
                    border: 1px solid #ebe9f1;
                }
                .budget {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin-top: 25px;
                    .yearAndBudget {
                        .currentYearAnddownArrow {
                            margin-left: 22.5px;
                            width: 45px;
                            margin-bottom: 40px;
                            border: 1px solid #7367f0;
                            border-radius: 6px;
                            padding: 3px 10px 3px 6px;
                            .currentYear {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 18px;
                                letter-spacing: 0px;
                                text-align: center;
                                color: #7367f0;
                                margin-right: 6px;
                            }
                            .downArrow {
                                color: #7367f0;
                                font-size: 17px;
                            }
                        }
                        .valueAndBudget {
                            margin-bottom: 26px;
                            .budget-textAndValue {
                                .budgetText {
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: bold;
                                    line-height: 21px;
                                    letter-spacing: 0px;
                                    text-align: center;
                                }
                                .budgetValue {
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 21px;
                                    letter-spacing: 0px;
                                    text-align: center;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                    .increaseBudget-button {
                        margin-top: 35px;
                        padding: 10px 22px;
                        background: #7367f0;
                        border-radius: 6px;
                        a {
                            text-decoration: none;
                            color: #ffffff;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 17px;
                            letter-spacing: 0.4000000059604645px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .miniContainer3 {
            display: flex;
            align-items: center;
            margin-top: 28px;
            .in-flex {
                display: flex;
                align-items: center;
            }
            .flex-spaceBetween {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .left-part {
                margin-right: 28px;
                .table {
                    border-spacing: 0;
                    width: 740px;
                    .header-background {
                        background: #f3f2f7;
                        border: 3px solid #f8f8f8;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        td {
                            padding: 11px 20px;
                            border: none;
                        }
                        .companyList {
                            .companey-text {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 15px;
                                letter-spacing: 1px;
                                text-align: left;
                                margin-right: 86px;
                            }
                        }
                        .categoryList {
                            .category-text {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 15px;
                                letter-spacing: 1px;
                                text-align: left;
                                margin-right: 80px;
                            }
                        }
                        .viewsList {
                            .views-text {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 15px;
                                letter-spacing: 1px;
                                text-align: left;
                                margin-right: 40px;
                            }
                        }
                        .revenueList {
                            .revenue-text {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 15px;
                                letter-spacing: 1px;
                                text-align: left;
                                margin-right: 16px;
                            }
                        }
                        .salesList {
                            .text {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 15px;
                                letter-spacing: 1px;
                                text-align: left;
                                margin-right: 25px;
                            }
                        }
                        .arrow-colour {
                            color: #babfc7;
                        }
                    }
                    .inner-part {
                        background: #ffffff;
                        td {
                            padding: 10.4px 20px;
                            border: 3px solid #f8f8f8;
                            border-top: none;
                            border-left: none;
                            border-right: none;
                        }
                        .iconAndCompanyDetails {
                            .icon {
                                background: #f8f8f8;
                                padding: 6px 7px 4px 7px;
                                border-radius: 5px;
                            }
                            .compeny-nameAndMail {
                                margin-left: 10px;
                                .name {
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 21px;
                                    letter-spacing: 0px;
                                    text-align: left;
                                    color: #6e6b7b;
                                }
                                .mail {
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 18px;
                                    letter-spacing: 0px;
                                    text-align: left;
                                    color: #b9b9c3;
                                }
                            }
                        }
                        .iconAndCategory {
                            .categoryName {
                                font-size: 14px;
                                padding: 7px 6px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #6e6b7b;
                            }
                        }
                        .viewsAndDuringTime {
                            margin-left: 7px;
                            .views {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 21px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #6e6b7b;
                            }
                            .duringTime {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 18px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #b9b9c3;
                            }
                        }
                        .revenue {
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 21px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #6e6b7b;
                        }
                        .salesPercentageAndGraph {
                            margin-right: 15px;
                            .percentage {
                                margin-right: 5px;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 21px;
                                letter-spacing: 0px;
                                text-align: left;
                                margin-right: 10px;
                            }
                        }
                        .companey-icon2 {
                            background: #f8f8f8;
                            padding: 6px 7px 3px 7px;
                            border-radius: 5px;
                        }
                        .companey-icon3 {
                            background: #f8f8f8;
                            padding: 6px 9px 3px 9px;
                            border-radius: 5px;
                        }
                        .companey-icon5 {
                            background: #f8f8f8;
                            padding: 7px 9px 3px 9px;
                            border-radius: 5px;
                        }
                        .companey-icon7 {
                            background: #f8f8f8;
                            padding: 10px 9px 8px 9px;
                            border-radius: 5px;
                        }
                        .system {
                            padding: 7px 7px 4px 7px;
                            background: #c8c4f7;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        .cup {
                            padding: 7px 7px 4px 8px;
                            background: #dcf1e6;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        .watch {
                            padding: 7px 7px 4px 6px;
                            background: #eed6c0;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                    }
                    .last-row {
                        background: #ffffff;
                        td {
                            padding: 10.4px 20px;
                        }
                        .iconAndCompanyDetails {
                            .icon {
                                background: #f8f8f8;
                                padding: 6px 7px 4px 7px;
                                border-radius: 5px;
                            }
                            .compeny-nameAndMail {
                                margin-left: 10px;
                                .name {
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 21px;
                                    letter-spacing: 0px;
                                    text-align: left;
                                    color: #6e6b7b;
                                }
                                .mail {
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 18px;
                                    letter-spacing: 0px;
                                    text-align: left;
                                    color: #b9b9c3;
                                }
                            }
                        }
                        .iconAndCategory {
                            .categoryName {
                                font-size: 14px;
                                padding: 7px 6px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #6e6b7b;
                            }
                        }
                        .viewsAndDuringTime {
                            margin-left: 7px;
                            .views {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 21px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #6e6b7b;
                            }
                            .duringTime {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 18px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #b9b9c3;
                            }
                        }
                        .revenue {
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 21px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #6e6b7b;
                        }
                        .salesPercentageAndGraph {
                            margin-right: 15px;
                            .percentage {
                                margin-right: 5px;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 21px;
                                letter-spacing: 0px;
                                text-align: left;
                                margin-right: 10px;
                            }
                        }
                        .companey-icon2 {
                            background: #f8f8f8;
                            padding: 6px 7px 3px 7px;
                            border-radius: 5px;
                        }
                        .companey-icon3 {
                            background: #f8f8f8;
                            padding: 6px 9px 3px 9px;
                            border-radius: 5px;
                        }
                        .companey-icon5 {
                            background: #f8f8f8;
                            padding: 7px 9px 3px 9px;
                            border-radius: 5px;
                        }
                        .companey-icon7 {
                            background: #f8f8f8;
                            padding: 10px 9px 8px 9px;
                            border-radius: 5px;
                        }
                        .system {
                            padding: 7px 7px 4px 7px;
                            background: #c8c4f7;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        .cup {
                            padding: 7px 7px 4px 8px;
                            background: #dcf1e6;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        .watch {
                            padding: 7px 7px 4px 6px;
                            background: #eed6c0;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .right-part {
                border-radius: 5px;
                background: #ffffff;
                .meeting-setup {
                    padding: 20px 10px 33px 24px;
                    .meeting-nameAndDate {
                        margin-bottom: 26px;
                        .meetingTime {
                            .day {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 17px;
                                letter-spacing: 0px;
                                text-align: center;
                                color: #5e5873;
                            }
                            .date {
                                font-size: 21px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 26px;
                                letter-spacing: 0px;
                                text-align: center;
                                color: #5e5873;
                            }
                        }
                        .vertical-line {
                            border: 1px solid #d8d6de;
                            margin-left: 17px;
                            margin-right: 17px;
                        }
                        .meetingNameAndAboutMeeting {
                            .meetingName {
                                color: #5e5873;
                            }
                            .aboutMeeting {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #6e6b7b;
                            }
                        }
                    }
                    .calender {
                        margin-bottom: 17px;
                        .iconBackground {
                            padding: 6px 6px 4px 6px;
                            border-radius: 5px;
                            background: #e4e3f7;
                            margin-right: 14px;
                        }
                        .slotTimings {
                            .style-property {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 23px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #5e5873;
                            }
                            .style1-setup {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 18px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #b9b9c3;
                            }
                        }
                    }
                    .location {
                        margin-bottom: 40px;
                        .iconBackground {
                            padding: 6px 6px 4px 6px;
                            border-radius: 5px;
                            background: #e4e3f7;
                            margin-right: 14px;
                        }
                        .location-nameAndLandMark {
                            .style-property {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 23px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #5e5873;
                            }
                            .style1-setup {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 18px;
                                letter-spacing: 0px;
                                text-align: left;
                                color: #b9b9c3;
                            }
                        }
                    }
                    .attendedPeople {
                        margin-left:-5px;
                    }
                }
            }
        }
        .miniContainer4 {
            margin-top: 28px;
            margin-bottom: 53px;
            display: flex;
            // justify-content: space-between;
            .in-flex {
                display: flex;
                align-items: center;
            }
            .flex-spaceBetween {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .browser {
                width: 326px;
                padding: 15px 17px 10px 19px;
                background: #ffffff;
                border-radius: 6px;
                .margin-setup {
                    margin-bottom: 10px;
                }
                .text {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #5e5873;
                }
                .monthAndYear {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #b9b9c3;
                    margin-top: 8px;
                    margin-bottom: 21px;
                }
                .browsersAndPercentages {
                    .text {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 23px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #5e5873;
                        margin-left: 12px;
                    }
                    .percentage {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 23px;
                        letter-spacing: 0px;
                        text-align: right;
                        margin-right: 15px;
                        color: #6e6b7b;
                    }
                }
            }
            .overView {
                width: 345px;
                background: #ffffff;
                margin-left: 28px;
                border-radius: 5px;
                .questionIconAndpercentage {
                    padding: 20px 30px 0 20px;
                    .question {
                        text-align: right;
                    }
                    .text {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: bold;
                        line-height: 22px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #5e5873;
                    }
                    .percentage {
                        text-align: center;
                    }
                }
                .completedAndProgress-vales {
                    border: 2px solid #ebe9f1;
                    border-bottom: none;
                    border-left: none;
                    border-right: none;
                    .padding-setup {
                        width: 100%;
                        padding: 15px 30px;
                    }
                    .text {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px;
                        letter-spacing: 0px;
                        text-align: center;
                        color: #b9b9c3;
                    }
                    .vales {
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 26px;
                        letter-spacing: 0px;
                        text-align: center;
                        color: #5e5873;
                    }
                    .progress {
                        border: 2px solid #ebe9f1;
                        border-bottom: none;
                        border-top: none;
                        border-right: none;
                    }
                }
            }
            .transactions {
                margin-left: 28px;
                width: 342px;
                background: #ffffff;
                padding: 18px 16px 0px 20px;
                border-radius: 5px;
                .header {
                    width: 100%;
                    padding: 0;
                    .transaction-text {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 22px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #5e5873;
                    }
                }
                .iconAndTypeOf {
                    margin-bottom: 18px;
                    .typeIs {
                        margin-left: 11px;
                    }
                }
                .wallet-icon {
                    background: #c6c3ee;
                    padding: 11px;
                    border-radius: 5px;
                }
                .correctTik {
                    background: #caebd9;
                    padding: 11px;
                    border-radius: 5px;
                }
                .doller {
                    background: #f7c2c2;
                    padding: 11px;
                    border-radius: 5px;
                }
                .card {
                    background: #f7d6b7;
                    padding: 11px;
                    border-radius: 5px;
                }
                .graph {
                    background: #afe9f0;
                    padding: 11px;
                    border-radius: 5px;
                }
                .type {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 23px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #5e5873;
                }
                .adding {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #6e6b7b;
                }
                .money {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 21px;
                    letter-spacing: 0px;
                    text-align: right;
                    color: #28c76f;
                }
                .netiveMoney {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 21px;
                    letter-spacing: 0px;
                    text-align: right;
                    color: #ea5455;
                }
            }
        }
    }
}
